@import url("/assets/css/font.css");

/* all of this is the code for the fonts of all of the texts */

body{
    font-family: 'Comfortaa', sans-serif;
    font-weight: 400;
    background-color: #A3C7D6;
    color: #ffffff;
}

h1 {
    font-family: 'Exo', sans-serif;
    font-weight: 600;
    font-size: 50px;
    color: #050319;
}

h2 {
    font-family: 'Exo', sans-serif;
    font-weight: 500;
    color: #050319;
}

h3, h4, h5, h6 {
    font-family: 'Exo', sans-serif;
    font-weight: 500;
    color: #050319;
}

span, p {
    font-family: 'Comfortaa';
    font-weight: 400;
    color: #050319;
}

img {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

li {
    font-family: 'Comfortaa';
    font-weight: 400;
    color: #112A41;
}

ul {
    padding-left: 20px; /* Adjust this value to bring text closer */
    list-style-position: inside;
}

a {
    font: 400;
    text-decoration: none;
    color: #2191FB;
}

a:hover {
    color: #DAF5FF;
    font-weight: 400;

} 

a:visited {
    color: #87F6FF;
    font-weight: 400;
}

.projects-and-things-I-can-do {
    display: flex;
    justify-content: space-evenly;
}

.Text {
    margin-top: 10px;
    border-radius: 10px;
    background-color: #B1E1F1;
    border: 3px solid #050319;
    width: 700px;
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    padding-bottom: 10px;
}

@keyframes Text-hover {
    from {border: 3px solid #050319}
    to {border: 3px solid #B1E1F1}
}

.Text:hover {
    animation-name: Border-change;
    animation-fill-mode: forwards;
    animation-duration: 2s;
}

.Social-media {
    margin-left: 39px;
}

.cropped-web { 
        text-align: center;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}
